#a h1 {
  text-align: center;
  padding-top: 30px;
}

#b h1 {
  text-align: center;
  padding-top: 60px;
}

#c h1,
#d h1 {
  text-align: center;
  padding-top: 55px;
}

body {
  display: grid;
  grid-template-columns: 240px 240px;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 40px;
}

#a {
  display: grid;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 2;
}

#b {
  display: grid;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
#c {
  display: grid;
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#d {
  display: grid;
  grid-row: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

#e {
  display: grid;
  grid-row: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

#f {
  display: grid;
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

#g {
  display: grid;
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 2;
}

#h {
  display: grid;
  grid-row: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

#i {
  display: grid;
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
#e h1,
#f h1,
#g h1,
#h h1 {
  text-align: center;
  padding-top: 120px;
}

#i h1 {
  text-align: center;
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 200px 190px 190px 190px 190px;
    grid-template-rows: 100px 200px 250px 150px;
  }

  #a {
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  #b {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #c {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  #d {
    display: grid;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 6;
  }
  #e {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #f {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  #g {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  #h {
    display: grid;
    grid-row-start: 3;
    grid-column-start: 5;
    grid-column-end: 6;
  }
  #i {
    display: grid;
    grid-row-start: 4;
    grid-column-start: 2;
  }
  #b h1 {
    padding-top: 280px;
  }

  #c h1,
  #d h1 {
    padding-top: 85px;
  }

  #i h1 {
    padding-top: 65px;
  }
}
