#a {
  background-color: cyan;
}

#b {
  background-color: pink;
}

#c {
  background-color: blueviolet;
}

#d {
  background-color: chartreuse;
}

#e {
  background-color: blue;
}

#f {
  background-color: burlywood;
}

#g {
  background-color: seagreen;
}

#h {
  background-color: wheat;
}

#i {
  background-color: lightyellow;
}
@media only screen and (min-width: 481px) {
  #a {
    background-color: #871de8;
  }

  #b {
    background-color: #b111ac;
  }

  #c {
    background-color: #c7cf45;
  }

  #d {
    background-color: #ceb29d;
  }

  #e {
    background-color: #06d486;
  }

  #f {
    background-color: #29e6d0;
  }

  #g {
    background-color: #48b709;
  }

  #h {
    background-color: #83c920;
  }

  #i {
    background-color: #c07eb3;
  }
}

@media only screen and (min-width: 768px) {
  #a {
    background-color: #7d2455;
  }

  #b {
    background-color: #34aabc;
  }

  #c {
    background-color: #98d817;
  }

  #d {
    background-color: #46e92b;
  }

  #e {
    background-color: #dc9869;
  }

  #f {
    background-color: #4861f1;
  }

  #g {
    background-color: #cd317d;
  }

  #h {
    background-color: #9f4d16;
  }

  #i {
    background-color: #e6b108;
  }
}
